@media screen and (max-width: 1024px){
.navbar-light .navbar-nav .dropdown .dropdown-menu .submenu {
    left: -200px;
    top: 0px;
}
.navbar-light .dropdown.deep>a::after{
    right: 20px;
}
.about .play-btn{
    top: 35%;
    left: 53%;
}
}
@media screen and (max-width: 992px){
    .navbar-light{
        padding: 0px 110px 0 120px;
    }
.navbar-light .dropdown>a::after{
    right: 30px;
    color: #fff;
}
.navbar-light .navbar-nav .dropdown .dropdown-menu .submenu {
    width: 95%;
    margin-left: 17px;
}
.offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #808080;
    z-index: 100;
    transition: visibility .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
  .navbar-light .nav-item .nav-link{
    color: #fff;
  }
  .navbar-light .btn-close{
    margin-right: 20px;
  }
   .about .play-btn{
    top: 55%;
}
}
@media screen and (max-width: 768px){
    .navbar-light {
    padding: 0px 20px 0 30px;
}
.banner h1 {
    font-size: 28px;
    line-height: 36px;
}
   }
@media screen and (max-width: 767px){
    .navbar-light {
    padding: 0px 10px 0 20px;
}
 .about .play-btn{
    top: 65%;
}
   }