@media screen and (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-top: 20px;
}
.dropdown>a:after{
  top: 22px;
  right: 20px;
}
.navbar-light .navbar-nav .dropdown .dropdown-menu .submenu{
  left: 195px;
  top: -19px;
  }
.navbar-light .navbar-nav .nav-link.primary {
   margin-top: -16px;
}
.navbar-light .navbar-brand{
  margin-top: 10px;
}
.navbar-light .navbar-nav .dropdown-menu{
  min-width: 12rem;
}
.navbar-light .navbar-nav .megamenu {
    min-width: 63rem;
    left: -280px;
}
.dropdown.authentication>a:after {
  content: "";
}
}
@media screen and (max-width: 992px) {
  .navbar-light .navbar-nav .dropdown-menu::before {
    position: absolute;
    top: 40px;
    left: .4375rem;
    width: .125rem;
    height: calc(85% - 0px);
    content: '';
    background-color: rgba(33,50,91,.1);
}
.navbar-light .navbar-nav .dropdown-menu .dropdown .dropdown-menu::before {
    position: absolute;
    top: 40px;
    left: 5px;
    width: .125rem;
    height: calc(85% - 0px);
    content: '';
    background-color: rgba(33,50,91,.1);
}
.navbar-light .navbar-nav .dropdown .dropdown-menu{
    border: none;
    box-shadow: none;
    padding-left: 20px;
}
.navbar-light .navbar-nav{
  padding: 1rem;
}
.dropdown.authentication>a i{
   display: none;
}
.dropdown.authentication>a:after {
  content: "\f107";
}
.topbar .navbar-topbar-collapse {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: calc(100% - 1rem);
    height: auto;
    max-height: calc(100% - 3rem);
    overflow-y: scroll;
    border-radius: 0.5rem;
    box-shadow: 0 0.6125rem 2.5rem 0.6125rem rgb(140 152 164 / 18%);
}
.topbar .navbar-topbar-collapse.show {
    animation: navbar-topbar-collapse-scale-up .3s cubic-bezier(.39,.575,.565,1) both;
}
.topbar .navbar-toggler .navbar-toggler-toggled {
    display: none;
}
}
@media screen and (max-width: 767px) {
  .heading .btn-primary{
    width: 100%;
  }
  .heading .btn-link{
    display: block;
    margin-top: 20px;
  }
  .components .nav li{
    margin-bottom: .5rem;
  }
  }