<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<title>Template8</title>
	<style type="text/css">
		.row.content{
			height: 670px;
		}
		.sidenav{
			background-color: #f1f1f1;
            height: 100%;
		}
		@media screen and (max-width: 767px) {
      .row.content {height: auto;} 
       }
	</style>
</head>
<body>
<nav class="navbar d-md-none bg-dark navbar-dark mb-3">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Age</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gender</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Geo</a>
      </li>
     </ul>
  </div>
</nav>
<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-3 sidenav d-none d-md-block pt-3">
			<h2>Logo</h2>
			<ul class="nav nav-pills flex-column mb-3">
  <li class="nav-item">
    <a class="nav-link active" href="#section1">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#section2">Age</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#section3">Gender</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#section4">Geo</a>
  </li>
</ul>
		</div>
		<div class="col-sm-9">
			<div class="card bg-light my-3">
				<div class="card-body">
					<h4>Dashboard</h4>
                    <p>Some text..</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="card bg-light mb-3">
						<div class="card-body">
							<h4>Users</h4>
                            <p>1 Million</p> 
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card bg-light mb-3">
						<div class="card-body">
							<h4>Pages</h4>
                            <p>100 Million</p> 
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card bg-light mb-3">
						<div class="card-body">
							 <h4>Sessions</h4>
                             <p>10 Million</p> 
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card bg-light mb-3">
						<div class="card-body">
							<h4>Bounce</h4>
                            <p>30%</p> 
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card bg-light my-3">
						<div class="card-body">
							<p>Text</p> 
				            <p>Text</p> 
				            <p>Text</p> 
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card bg-light my-3">
						<div class="card-body">
							<p>Text</p> 
				            <p>Text</p> 
				            <p>Text</p> 
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card bg-light my-3">
						<div class="card-body">
							<p>Text</p> 
				            <p>Text</p> 
				            <p>Text</p> 
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="card bg-light mb-3">
							<div class="card-body">
								<p>Text</p> 
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card bg-light">
							<div class="card-body">
								<p>Text</p> 
							</div>
						</div>
				    </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>